/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --font-primary: "Montserrat", sans-serif;
    --font-alternate: "Montserrat Alternates", sans-serif;
    --font-nav: "Inter", sans-serif;
    --color-nav: #4D5A6C;
    --color-text: #262D30;
    --color-dark: #212121;
    --color-gray: #6A7A90;
    --color-text-secondary: #748192;
    --color-primary: #9F8EDA;
    --color-white: #FFFFFF;
    --box-shadow: 0 6px 12px rgba(213, 220, 226, .1), 0 22px 22px rgba(213, 220, 226, .09), 0 50px 30px rgba(213, 220, 226, .05), 0 88px 35px  rgba(213, 220, 226, .01);
}
/* text styling */
.main-title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 41px;
    line-height: 120%;
    letter-spacing: 4.1px;
    color: var(--color-text);
    text-transform: uppercase;
}
.main-title .thin {
    font-weight: 100;
    font-size: 64px;
    letter-spacing: 6.4px;
}
.title {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 51px;
    line-height: 120%;
    color: var(--color-text);
    text-transform: uppercase;
}
.title.title--large { 
    font-size: 61px;
}
.title.fw--exlight {
    font-weight: 200;
}
.title .fw--light {
    font-weight: 300;
}
.title .fw--regular,
.fw--regular {
    font-weight: 400;
}
.subtitle {
    font-family: var(--font-alternate);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}
.text--large {
    font-family: var(--font-primary);
    font-size: 31px;
}
.text--medium {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-text-secondary);
}
.text--small {
    font-family: var(--font-primary);
    font-size: 14px;
}
.fw--medium {
    font-weight: 500;
}
.fw--bold {
    font-weight: 700;
}
.text--center {
    text-align: center;
}
.color--text {
    color: var(--color-text);
}
.color--nav {
    color: var(--font-nav);
}
.color--primary {
    color: var(--color-primary);
}
.color--secondary {
    color: var(--color-text-secondary);
}
.color--gray {
    color: var(--color-gray);
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-white);
    color: var(--color-text);
}

body.disable--scroll {
    overflow: hidden;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 60px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    z-index: 2;
    width: 100%;
    padding: 30px 0;
}

.header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    list-style: none;
}

.navigation-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 16px;
}

.navigation__item a {
    color: var(--color-nav);
    font-family: var(--font-nav);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    white-space: nowrap;
    position: relative;
}

.navigation__item a::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
    -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    -o-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    background: var(--color-nav);
}

.navigation__item.navigation__item--active a::after {
    width: 100%;
}

.burger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

.main {
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 100px;
}

.main-section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

.logo-left {
    min-width: 62px;
}

.main-block__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 480px;
    gap: 40px;
    padding-top: 16px;
}
.main-banner {
    max-width: 612px;
    width: 100%;
}

.main-banner img {
    width: 100%;
}

.primary-button {
    background-color: var(--color-primary);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 22px 30px 20px;
    color: var(--color-white);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.primary-button--arrow::after {
    content: "";
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 12H21M21 12L14 19M21 12L14 5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

.primary-label {
    font-weight: 700;
    color: var(--color-nav);
    margin-bottom: 10px;    
}

.primary-input {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-nav);
    font-family: var(--font-primary);
    padding: 20px 30px;
    width: 100%;
    margin-bottom: 20px; 
    border-radius: 20px;
    outline: none;
    border: 1px solid #E4E4E4;
}

.primary-input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.primary-input:focus::-moz-placeholder {
    opacity: 0;
}

.primary-input:focus:-ms-input-placeholder {
    opacity: 0;
}

.primary-input:focus::-ms-input-placeholder {
    opacity: 0;
}

.primary-input:focus::placeholder {
    opacity: 0;
}

.primary-input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-nav);
    opacity: 1;
}

.primary-input::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-nav);
    opacity: 1;
}

.primary-input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-nav);
    opacity: 1;
}

.primary-input::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-nav);
    opacity: 1;
}

.primary-input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-nav);
    opacity: 1;
}

@-webkit-keyframes markquee-move {
    0% {
        -webkit-transform: translateX(-375px);
                transform: translateX(-375px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes markquee-move {
    0% {
        -webkit-transform: translateX(-375px);
                transform: translateX(-375px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

.overline-section {
    overflow: hidden;
    width: 100%;
}

.overline-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 46px;
    -webkit-animation: markquee-move 2.4s linear infinite;
            animation: markquee-move 2.4s linear infinite;
    will-change: transform;
}

.advantages-grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    max-width: 1268px;
    grid-template-columns: repeat(auto-fill, minmax(336px, 356px));
    gap: 60px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 60px auto 0;
}

.advantages-grid__item {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: 30px;
}

.advantages-grid__item .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.text--mark::after {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M51 0C45.7471 -6.26399e-08 40.5457 1.03463 35.6927 3.04482C30.8396 5.05501 26.4301 8.00139 22.7157 11.7157C19.0014 15.4301 16.055 19.8396 14.0448 24.6927C12.0346 29.5457 11 34.7471 11 40C11 45.2529 12.0346 50.4543 14.0448 55.3073C16.055 60.1604 19.0014 64.5699 22.7157 68.2843C26.4301 71.9986 30.8396 74.945 35.6927 76.9552C40.5457 78.9654 45.7471 80 51 80V78.0027C46.0094 78.0027 41.0677 77.0197 36.457 75.1099C31.8463 73.2001 27.6569 70.4008 24.128 66.872C20.5992 63.3431 17.7999 59.1537 15.8901 54.543C13.9803 49.9323 12.9973 44.9906 12.9973 40C12.9973 35.0094 13.9803 30.0677 15.8901 25.457C17.7999 20.8463 20.5992 16.6569 24.128 13.128C27.6569 9.59916 31.8463 6.7999 36.457 4.89009C41.0677 2.98028 46.0094 1.99731 51 1.99731V0Z' fill='%239F8EDA'/%3E%3Crect x='20' y='10' width='60' height='60' rx='30' fill='%239F8EDA'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overscreen-logo {
    width: 120%;
    max-width: calc(100vw - 260px);
    margin-top: 22px;
}

.roadmap-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    gap: 40px;
}
.roadmap-inner::after {
    content: '';
    position: absolute;
    width: calc(100% - 80px);
    top: calc(50% - 1px);
    left: 100px;
    border-top: 1px dashed #E4E4E4;
    display: block;
}

.roadmap-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.roadmap-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;    
    -webkit-user-select: none;    
       -moz-user-select: none;    
        -ms-user-select: none;    
            user-select: none;
}
.roadmap-point .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
}
.roadmap-point .title::after {
    content: '';
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-left: 1px dashed #E4E4E4;
}
.roadmap-point__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    gap: 20px;
}
.roadmap-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: 30px;
    padding: 40px;
    margin-right: 20px;
    min-width: 356px;
}
.roadmap-point--reverse .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; 
}
.roadmap-point--reverse .roadmap-point__info {
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.roadmap-point--future .title {
    color: #C7CED3;
}
.image-section {
    position: relative;
    overflow: hidden;
}
.image-section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    position: relative;
    overflow-x: auto;
}
.image-section-inner img {
    -o-object-fit: contain;
       object-fit: contain;
}
.image-section-inner img:nth-child(1) {
    margin-top: 218px;
}
.image-section-inner img:nth-child(2) {
    margin-top: 273px;
}
.image-section-inner img:nth-child(3) {
    margin-top: 345px;
}

.image-section .absolute-logo {
    position: absolute;
    top: 0;
    right: -460px;
}

.gallery-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    overflow: auto;
    margin-top: 50px;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.gallery-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
}
.gallery-text {
    max-width: 855px;
}
.gallery-item {
    min-width: 480px;    
    scroll-snap-align: start;
}
.gallery-item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    margin-left: auto;
}
.items-number, .swipe-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
}
.swiper-prev, .swiper-next {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 40px;
    -webkit-transition: 260ms ease-in;
    -o-transition: 260ms ease-in;
    transition: 260ms ease-in;
    cursor: pointer;
}
.swiper-prev path, .swiper-next path {
    -webkit-transition: 160ms ease-in;
    -o-transition: 160ms ease-in;
    transition: 160ms ease-in;    
}

.faq-inner, 
.work-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 60px;
    max-width: 1355px;
    margin: 0 auto;
}

.accordions-wrapper,
.work-info-wrapper {
    width: 100%;
    max-width: 855px;
}

.faq-accordion {
    padding: 20px 40px 0px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: 30px;
    margin-bottom: 20px;
}

.faq-accordion-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-nav);
}

.faq-accordion-head::after {
    content: '';
    display: block;
    min-width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12.6621H20' stroke='%239F8EDA' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12 4.66211L12 20.6621' stroke='%239F8EDA' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position:  center center;
    -webkit-transition: .26s ease-out;
    -o-transition: .26s ease-out;
    transition: .26s ease-out;
}

.faq-accordion-dropdown {
    overflow: hidden;
    max-height: 0;
    padding-top: 20px;
    -webkit-transition: max-height .26s ease-out, opacity .26s ease-out 80ms, padding .26s ease-out;
    -o-transition: max-height .26s ease-out, opacity .26s ease-out 80ms, padding .26s ease-out;
    transition: max-height .26s ease-out, opacity .26s ease-out 80ms, padding .26s ease-out;    
    will-change: max-height, opacity, padding;
}

.faq-accordion.active .faq-accordion-head::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.faq-accordion.active .faq-accordion-dropdown {
    opacity: 1;
    padding-bottom: 20px;
    max-height: 190px;
}
 

.feedback-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

.feedback-text {
    padding-right: 70px;
}

.feedback-text .title,
.accordions-wrapper .title {
    margin-bottom: 40px ;
}
.work-inner .title,
.gallery-section .title {
    margin-bottom: 30px;
}

.feedback-form-wrapper {
    padding: 50px 70px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    background-image: url(../img/logo-form.svg);
    background-repeat: no-repeat;
    background-position: bottom 0px right 60px;
}

.feedback-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.title.title--large svg {
    width: 100%;
    max-width: 600px;
}
/*--- --- --- --- --- ---*/
/*--- cases page ---*/
/*--- --- --- --- --- ---*/
.cases-grid {
    display: -ms-grid;
    display: grid;
    gap: 40px 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}

.cases-grid__item {
    width: 100%;
}

.cases-grid__item--medium {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.case-preview {
    overflow: hidden;
    border-radius: 20px;
}

.case-preview img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.case-title {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    color: var(--color-dark);
    text-transform: uppercase;
    margin-top: 32px;
}

.case-description {
    color: var(--color-nav);
    font-weight: 500;
}

.stack-info {
    padding: 0 125px;
    margin-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
}
.stack-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
}
.stack-row.gap {
    gap: 20px;
}
.stack-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ECEEF4;
    border-radius: 20px;
    gap: 10px;
    width: 230px;
    height: 200px;
    -webkit-transition: 260ms ease-in;
    -o-transition: 260ms ease-in;
    transition: 260ms ease-in;
}
.stack-item p, .stack-item path {
    -webkit-transition: 260ms ease-in;
    -o-transition: 260ms ease-in;
    transition: 260ms ease-in;
}

.bg-text {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
}

.fade {
	opacity: 0;
	-webkit-transform: translateY(40px);
	    -ms-transform: translateY(40px);
	        transform: translateY(40px);
	-webkit-transition: opacity 0.7s 180ms ease-out, -webkit-transform 0.7s 180ms ease-out;
	transition: opacity 0.7s 180ms ease-out, -webkit-transform 0.7s 180ms ease-out;
	-o-transition: transform 0.7s 180ms ease-out, opacity 0.7s 180ms ease-out;
	transition: transform 0.7s 180ms ease-out, opacity 0.7s 180ms ease-out;
	transition: transform 0.7s 180ms ease-out, opacity 0.7s 180ms ease-out, -webkit-transform 0.7s 180ms ease-out;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px;
    gap: 30px;
}

.style-section {
    padding-left: 125px;
}
.back-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
}
.back-button.active {
    pointer-events: all;
}
.back-button path {
    -webkit-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
}
.back-button.active path {
    stroke: var(--color-text);
}
.about-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    margin-bottom: 100px;
}
.about-grid__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 20px;
    padding: 40px;
    background-color: #ECEEF4;
    -webkit-transition: 260ms ease-in;
    -o-transition: 260ms ease-in;
    transition: 260ms ease-in;
}
.about-grid__item p {
    -webkit-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in;
    color: var(--color-primary);   
}

.scroll-wrapper {
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    width: calc(100% + 125px);
    margin-left: -125px;
    padding: 10px 10px 30px 125px;
}

.scroll__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 457px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
}

.scroll__item-preview {
    overflow: hidden;
    border-radius: 20px;
}
.scroll__item-preview img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 1320px) {
    .absolute-logo {
        display: none;
    }
    .image-section-inner {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 0 20px;
    }
    .image-section-inner img:nth-child(1) {
        margin-top: 0px;
    }
    .image-section-inner img:nth-child(2) {
        margin-top: 0px;
    }
    .image-section-inner img:nth-child(3) {
        margin-top: 0px;
    }
    .feedback-inner {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1087px) {
    .faq-image {
        display: none;
    }
    .burger-button {
        pointer-events: all;
    }
    .feedback-form-wrapper {
        padding: 30px 16px 70px;
        background-position: bottom right 10px;
    }
    .main {
        gap: 40px;
    }
    .advantages-grid {
        -ms-grid-columns: 1fr 40px 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .navigation.navigation-column {
        display: none;
    }
    .header .navigation {
        background-color: var(--color-white);
        -webkit-box-shadow: 100px 100px 0 100px var(--color-white);
                box-shadow: 100px 100px 0 100px var(--color-white);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: calc(100dvh - 100px);
        left: auto;
        padding-top: 48px;
        width: 100%;
        position: fixed;
        right: -100%;
        top: 60px;
        -webkit-transition: .2s ease-out;
        -o-transition: .2s ease-out;
        transition: .2s ease-out;
        border-top: 1px solid #748192;
        z-index: 5;
        width: 100%;
    }
    .header .navigation.active {
        right: 0;
    }
    .overscreen-logo {
        max-width: none;
        width: 100%;
    }
}
@media (max-width: 850px) {
    .container {
        padding: 0 20px;
    }
    
    .items-number {
        display: none;
    }
    .cases-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .header {
        padding: 14px 0;
    }
    .main-block .logo-left {
        display: none;
    }
    .main-section-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .main-block__text {
        max-width: none;
    }
    .main-banner {
        margin-top: 30px;
    }

    .main-title {
        font-size: 31px;
        letter-spacing: 3.1px;
    }
    .main-title .thin {
        font-size: 34px;
        letter-spacing: 4.1px;
    }
    .title {
        font-size: 36px;
    }
    h2.title.title--large { 
        font-size: 40px;
    }
    .text--mark::after {
        width: 70px;
        height: 70px;
    }
    .case-title {
        font-size: 18px;
        margin-top: 16px;
    }
    .back-button svg {
        width: 40px;
        height: 42px;
    }
    .text--large {
        font-size: 20px;
    }
    .overscreen-logo-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }
    .roadmap-inner .logo-left {
        display: none;
    }
    .roadmap-inner::after {
        left: 0;
        width: 100%;
    }
    .roadmap-scroll {
        margin-left: -20px;
        min-width: 100vw;
        padding: 0 20px;
    }
    .faq-accordion {
        padding: 20px 16px 0;
    }
    .roadmap-point {
        min-height: 400px;
    }
    .roadmap-point .title {
        padding: 40px 0;
    }
    .roadmap-group {
        padding: 16px;
        margin-right: 0;
    }
    .feedback-form-wrapper, .header-inner {
        max-width: calc(100vw - 40px);
    }
    .feedback-text {
        padding-right: 0;
    }
    .style-section, .stack-info {
        padding: 0;
    }
    .scroll-wrapper {
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 10px 10px 30px 20px;
    }
    .flex-center {
        margin-bottom: 30px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .stack-item {
        width: calc(50% - 10px);
    }
    .advantages-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }   
    .gallery-action {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    } 
}

@media (max-width: 540px) {
    h2.title.title--large {
        font-size: 32px;
    }
    .main {
        padding: 70px 0;
    }
    .advantages-grid__item {
        padding: 20px;
    }
    .cases-grid__item--medium {
        -ms-grid-column: 1;
        grid-column: 1;
    }
    .cases-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .stack-row {
        gap: 10px;
    }
    .image-section-inner img {
        width: 300px;
        height: auto;
    }
    .items-number, .swipe-action, .gallery-action {
        gap: 20px;
    }
    @-webkit-keyframes markquee-move {
        0% {
            -webkit-transform: translateX(-375px);
                    transform: translateX(-375px);
        }
        100% {
            -webkit-transform: translateX(750px);
                    transform: translateX(750px);
        }
    }
    
    @keyframes markquee-move {
        0% {
            -webkit-transform: translateX(-375px);
                    transform: translateX(-375px);
        }
        100% {
            -webkit-transform: translateX(750px);
                    transform: translateX(750px);
        }
    }
    
    .overline-inner {
        -webkit-animation: markquee-move 10s linear infinite;
                animation: markquee-move 10s linear infinite;
    }
    .overline-inner img {
        display: none;
    }
    .overline-inner img.mobile {
        display: block;
    }
}

@media (hover: hover) {
    .navigation__item a:hover::after {
        width: 100%;
        left: 0;
        right: auto;
    }
    .swiper-prev:hover, .swiper-next:hover {
        background-color: var(--color-primary);
    }
    .swiper-prev:hover path, .swiper-next:hover path {
        stroke: var(--color-white);
    }
    .stack-item:hover {
        background-color: var(--color-primary);
    }
    .stack-item:hover p {
        color: var(--color-white);
    }
    .stack-item:hover path {
        fill: var(--color-white);
        stroke: var(--color-white);
    }
    .stack-item:hover path.path-gray {
        stroke: #BCC2D3;
        fill: #EEEEEE;
    }
    .about-grid__item:hover {
        background-color: var(--color-primary);
    }
    .about-grid__item:hover p {
        color: var(--color-white);
    }    
}

@media (hover: none) {
    .navigation__item a:hover::after {
        width: 100%;
        left: 0;
        right: auto;
    }
    .swiper-prev:active, .swiper-next:active {
        background-color: var(--color-primary);
    }
    .swiper-prev:active path, .swiper-next:active path {
        stroke: var(--color-white);
    }
    .stack-item:active {
        background-color: var(--color-primary);
    }
    .stack-item:active p {
        color: var(--color-white);
    }
    .stack-item:active path {
        fill: var(--color-white);
        stroke: var(--color-white);
    }
    .stack-item:active path.path-gray {
        stroke: #BCC2D3;
        fill: #EEEEEE;
    }
    .about-grid__item:active {
        background-color: var(--color-primary);
    }
    .about-grid__item:active p {
        color: var(--color-white);
    }     
}